/* Gabaɗaya shafin */
body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* Carousel Container */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Boye scrollbar */
}

.onboarding-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.onboarding-slide img {
    width: 85%;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(110, 69, 226, 0.3);
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #ffffff;
}

p {
    text-align: center;
    color: #b0b0b0;
    padding: 0 20px;
}

/* Buttons */
.controls {
    margin-top: auto;
    padding: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

button {
    background: linear-gradient(90deg, #6e45e2, #88d3ce);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
